* {
  box-sizing: border-box;
//   border: solid 1px;
}

#__next {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

body {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}